<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.svit.epolice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RequestList"></activity>
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DashboardActivity"></activity>
        <activity
            android:name=".activities.PolicemenListActivity"
            android:label="@string/label_police_man"></activity>
        <activity
            android:name=".activities.FeedbackActivity"
            android:label="@string/lable_feedback_activity"></activity>
        <activity android:name=".activities.TwitterActivity" />
        <activity
            android:name=".activities.RequestPatrollingActivity"
            android:label="@string/lable_patrolling_request_activity" />
        <activity
            android:name=".activities.RequestListActivity"
            android:label="@string/label_requestlist_activity" />
        <activity
            android:name=".activities.ComplaintActivity"
            android:label="@string/lable_complaint_activity" />
        <activity android:name=".activities.UserRegistrationActivity"></activity>
        <activity android:name=".activities.SignInActivity"></activity>
        <activity android:name=".activities.ProfileDetailsActivity" />
        <activity
            android:name=".activities.NotificationActivity"
            android:label="@string/lable_notification_activity" />
    </application>

</manifest>